<a href="https://colab.research.google.com/github/llucas273/mysite/blob/main/Proyecto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

se cargo el archivo : 'Downloads/ccpp_inei17.csv'

In [3]:
from google.colab import files
uploaded = files.upload()

Saving ccpp_inei17.csv to ccpp_inei17.csv

In [4]:

import io
import pandas as pd
import numpy as np

importamos el archivo:

In [5]:
df = pd.read_csv(io.BytesIO(uploaded['ccpp_inei17.csv']), sep=';', encoding='latin-1')
df.head()

,cod_dep,cod_prov,cod_dist,cod_ccpp,n_ccpp,rnatural,altitud,npob,npob_h,npob_m,nviv,nviv_ocup,nviv_docup
0,1,1,1.0,1.0,CHACHAPOYAS,Quechua,2 483,32 026,15 131,16 895,9 304,8 593,711
1,1,1,1.0,2.0,CACLIC,Yunga fluvial,1 745,41,29,12,13,10,3
2,1,1,1.0,3.0,VITALIANO,Quechua,2 452,5,4,1,3,3,-
3,1,1,1.0,4.0,EL TAPIAL,Quechua,2 463,-,-,-,2,2,-
4,1,1,1.0,7.0,BOCANEGRA,Yunga fluvial,2 258,-,-,-,3,3,-

**ANALISIS** **ESXPLORATORIO**

In [6]:
#convertimos las columnas cod_ccpp y cod_dist a entero porque las necesitaremos para forma el ubigeo, y no la podemos dejas en float
#primero le decimos que los datos que no se pueden cambiar tomen como valor 0
df['cod_dist'] = df['cod_dist'].fillna(0)
df['cod_ccpp'] = df['cod_ccpp'].fillna(0)

In [7]:
#hacemos el parseo
df['cod_dist'] = df['cod_dist'].astype(int)
df['cod_ccpp'] =df['cod_ccpp'].astype(int)

#mostramos el numero de columnas y filas

In [ ]:
print('Numero de filas de: \'ccpp_INEI17\': {}'.format(df.shape[0]))
print('Numero de columns de: \'ccpp_INEI17\': {}'.format(df.shape[1]))

In [ ]:
#saber la informacion de columnas e info de co,lumnas que forman el dataset:
df.head()

In [ ]:
#identificamos las columnas categoricas y numericas:
df.columns

In [11]:
#almacenamos colm categ.
col_cat = ['cod_dep', 'cod_prov', 'cod_dist', 'cod_ccpp','rnatural']
#almacenamos columnas numericas
col_num = ['altitud', 'npob', 'npob_h', 'npob_m', 'nviv', 'nviv_ocup',
       'nviv_docup']
#almacenamos id_
col_id = ['n_ccpp']

In [ ]:
#Identificamos el numero de registros duplicados
df[col_id].duplicated().any()

#lo hacemos dentro de un if:
if df[col_id].duplicated().any() == True:
    print('Existen registros duplicates')
else :
  print('No existen registros dupicados')

In [ ]:
#revisamos cuales son los registros duplicados

In [ ]:
df[df[col_id].duplicated()]

In [ ]:
#obtener el codigo de ubicacion del centro poblado (UBIGEO)
#craamos el codigo: ubigeoccpp: (este es el codigo que se identifica a un lugar formado por tres datos)
str(df['cod_dep'][0])
#ateponer un cero
str(df['cod_dep'][0]).zfill(2)

'01'

In [14]:
max(df['cod_ccpp'])

882

In [ ]:
df.head()

In [19]:
df['cod_dep']  = df['cod_dep'].apply(lambda x: str(x).zfill(2))
df['cod_prov'] = df['cod_prov'].apply(lambda x: str(x).zfill(2))
df['cod_dist'] = df['cod_dist'].apply(lambda x: str(x).zfill(2))
df['cod_ccpp'] = df['cod_ccpp'].apply(lambda x: str(x).zfill(4))

In [ ]:
df.head()

In [ ]:
#creamos la nueva columna 'ubigeoccpp'

In [21]:
df['ubigeoccpp'] = df['cod_dep'] + df['cod_prov'] + df['cod_dist'] + df['cod_ccpp']

In [ ]:
df.head()

In [ ]:
#3df['ubigeoccpp'].duplicated()
df[df['ubigeoccpp'].duplicated()]

In [ ]:
#comprobamos si existe duplicados:
if df['ubigeoccpp'].duplicated().any() == True:
  print('Existen registros duplicates')
else :
  print('No existen registros dupicados')

In [ ]:
#identificamos valores nulos
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
col_num

['altitud', 'npob', 'npob_h', 'npob_m', 'nviv', 'nviv_ocup', 'nviv_docup']

In [29]:
df['npob'] = df['npob'].apply(lambda x: str(x).replace('-', '0'))

In [ ]:
df['npob']

In [31]:

#remplazamos los caracterers '-' por 0
for columna in ['npob', 'npob_h','npob_m','nviv','nviv_ocup','nviv_docup']:
    df[columna] = df[columna].apply(lambda x:str(x).replace('-', '0'))

In [33]:

# distribucion de frecuencias de caracteristicas categoricas:

col_cat

['cod_dep', 'cod_prov', 'cod_dist', 'cod_ccpp', 'rnatural']

In [ ]:
for col in ['rnatural']:
  print('columna: ', col)
  print(df[col].value_counts(normalize=True))

CODIFICACION DE LA COLUMNA RNATURAL

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['rnatural_num'] = le.fit_transform(df['rnatural'])

Analisis de los datos descriptivos

In [ ]:
col_num

In [ ]:
df.info()

In [49]:
#cambiamos el tipo de dato de col_num
#for columna in col_num:
   # df[columna] = df[columna].astype('int64')

In [ ]:
df[col_num].describe()

##**SEGUNDO** **CONUNTO** **DE** **DATOS**

In [53]:

uploaded2 = files.upload()

Saving ccpp_2.csv to ccpp_2 (1).csv

In [55]:
df2 = pd.read_csv(io.BytesIO(uploaded2['ccpp_2.csv']))
df2.head()

   Unnamed: 0  ubicodccpp  area  cuenta  elect  internet  telef
0           0   101130007     2      47     11         0      8
1           1   101130008     2      15      6         0      1
2           2   101130009     2      10      1         0      0
3           3   101130010     2       6      2         0      2
4           4   101130011     2       2      1         0      1

1. Conocer las dimensiones del dataset

In [56]:
print('Numero de filas de: \'ccpp_2\': {}'.format(df2.shape[0]))
print('Numero de columns de: \'ccpp_2\': {}'.format(df2.shape[1]))

Numero de filas de: 'ccpp_2': 94922
Numero de columns de: 'ccpp_2': 7

2. Conocer las columnas y el tipo de datos del dataset

In [57]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94922 entries, 0 to 94921
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  94922 non-null  int64
 1   ubicodccpp  94922 non-null  int64
 2   area        94922 non-null  int64
 3   cuenta      94922 non-null  int64
 4   elect       94922 non-null  int64
 5   internet    94922 non-null  int64
 6   telef       94922 non-null  int64
dtypes: int64(7)
memory usage: 5.1 MB

3. Identificamos las columnas numericas y categoricas

In [58]:
df2.columns

Index(['Unnamed: 0', 'ubicodccpp', 'area', 'cuenta', 'elect', 'internet',
       'telef'],
      dtype='object')

In [63]:
col_id2 =['ubicodccpp']
col_num2 =['area', 'cuenta', 'elect', 'internet','telef']

4. Identificamos los registros duplicados

In [64]:
if df2[col_id2].duplicated().any() == True:
  print('Existen registros duplicates')
else :
  print('No existen registros dupicados')

No existen registros dupicados

In [65]:
df2.head()

   Unnamed: 0  ubicodccpp  area  cuenta  elect  internet  telef
0           0   101130007     2      47     11         0      8
1           1   101130008     2      15      6         0      1
2           2   101130009     2      10      1         0      0
3           3   101130010     2       6      2         0      2
4           4   101130011     2       2      1         0      1

5. Identificamos los valores nulos / perdidos

In [67]:
df2.isnull().sum()

Unnamed: 0    0
ubicodccpp    0
area          0
cuenta        0
elect         0
internet      0
telef         0
dtype: int64

6. Distribución de las frecuencias de las columnas categoricas:

In [68]:
col_cat

['cod_dep', 'cod_prov', 'cod_dist', 'cod_ccpp', 'rnatural']

7. Analisis de los estadisticos descriptivos

In [70]:
df2[col_num2].describe()

               area        cuenta          elect      internet          telef
count  94922.000000  9.492200e+04   94922.000000  94922.000000   94922.000000
mean       1.960768  3.095371e+02      71.119340     23.041192      68.868144
std        0.194148  7.175534e+03    1692.110913    823.959612    1674.248445
min        1.000000  0.000000e+00       0.000000      0.000000       0.000000
25%        2.000000  2.000000e+00       0.000000      0.000000       0.000000
50%        2.000000  1.500000e+01       1.000000      0.000000       2.000000
75%        2.000000  8.100000e+01      15.000000      0.000000      13.000000
max        2.000000  1.038495e+06  240100.000000  95392.000000  239915.000000